.menu{
    z-index: 10;
    position: absolute;
    margin-right: 0;
}

.editor{
    position: relative;
}

.flex{
    display: flex;
    flex-direction: column;
}

.LanguageSelector {
    position: absolute;
    top: 0; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    z-index: 100; /* Higher value to ensure it's above other elements */
  }

  .editor {
      position: relative;

  }